section {
	padding:2em 0;
}

.col2 {
  li {
    @include rowGrid(2,5%);
  }
}

.cta {
	.span4 {
		margin-bottom:1em;
	}
}


header {
  .logo {
    margin-left:0em;
  }
  .tophat {
    text-align:left;
    .ico-envelope {
      margin-bottom:0em;
      display: inline-block;
    }
    ul {
      float:right;
      margin-right:1em;
      li{
        float:none;
        display:inline;
      }
    }
  }
}


.contact-number {
  float:right;
}
ul.featured-homes {
  &>li {
    @include rowGrid(2,2%);
    display:inline-block;
    vertical-align:top;
    border-bottom:0;
  }
}


.testimonials-section {

  padding:0;
  
  p{
    font-size: 18px;
  }

  }