.mainnav {
	@include transition(all .5s);

	.wrap {
		border-top:solid 1px rgba(255,255,255,.1);
		padding:.5em 0;
		position: relative;
	}
	ul{
		
		float:right;
		li {
			float:left;
			a {
				padding:0 1em;
				font-size: 14px;
				color:$neutral;
				font-weight: 100;
				line-height: 3;
			}
		}
	}
}


header {
	position: fixed;
	z-index:1000;
	width:100%;
	background:#231f20;
	a, a:visited {
			color: #676767;
			&:hover {
				@include opacity(.6);
			}
		}
	.tophat {
		a,p,li {
			font-size: 1em;
			margin:0;
			line-height: 1;
		}
		ul {
			float:right;
			margin:0;
			line-height: 2.9;
			li {
				float:left;
				margin-right:1em;
				&:last-child {
					margin-right:0;
				}
			}
		}
		
		.wrap{
			border-bottom:solid 1px black;
			padding:1em 0 0;
		}
	}
}