* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}


body {
  padding:0;
}
/* MAIN */

section > .wrap {
  padding:2em;
    
}

.wrap {
  max-width: 960px;
  margin:auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}


/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

/* HEADER */


/* CONTENT */

.hero, .container, .wrapper {
  h1 {
    @include opacity(.8);
    @include transition(.3s all);
  }
}

.test {
  ul {
    li {
      float:left;
      @include rowGrid(1, 1%);
    }
  }
}

.hero {
  &.header-image{
    padding:11em 2em;
  }
  background-size:cover;
  padding:9em 2em;
  text-align: center;
  background-position: center;
  h1,h3 {
    text-shadow: 0 0 5px rgba(0,0,0,.4);
  }
  h1 {

    color:white;
    text-transform: uppercase;
    margin-bottom:.5em;
    line-height:1.4;
    font-size: 21px;
  }
  h3 {
    font-family: $body;
    color:white;
    font-weight: 400;
    margin-bottom:2em;
    font-size: 21px;
  }
  .wrap {
    max-width:700px;
    background:rgba(255,255,255,.4);
    padding:10px;
    form {
      input {
        height:auto;
        margin:0;
        @include transition(all .3s);
        &:focus {
          box-shadow: none;
          outline: 0;
          background:rgba(255, 255, 255, 0.63);
          border:0;
          color:$red;
        }
      }
      .cbp-mc-submit {
        background:$red;
        color:white;
        @include transition(all .3s);
        &:hover{
          background:$hover;
        }
      }
    }
  }
}

.testimonials-section {
  height:310px;
  display: table;
  padding:0 2em;
  .testimonial-container{
    display: table-cell;
    vertical-align:middle;
  }
  .item {display:none;}
  text-align: center;
  &.wrap {
    max-width:600px;
  }
  p,a {
    margin:0;
    font-family: $heading;
    font-size: 14px;
    color:#808284;
    font-style: italic;
    line-height: 1.8;
  }
  a {
    color:$secondary;
  }
}
.contain {
  margin-bottom:1em;
}

.accessories-gallery {
  margin-top:0;
padding:2em 0;
.contain {
  padding:10px;
  text-align: center;
}
  h1{
    font-family: $body;
    font-weight: 100;
    font-size: 20px;
    color:$secondary;
    margin:0 0 10px 0;
  }
  p {
    color:$neutral;
    margin:0 0 10px 0;
    &:before{
      display:inline-block;
      margin-right:5px;
    }
  }
  h2 {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
  }
  .info {
    position: absolute;
    bottom:0;
    background:$ultralight;
    text-align: center;
    width:100%;
    border-top: solid 1px $neutral;
    display:inline-block;
    ul {
      margin:0;

      li {
        font-size: 8px;
        color:$secondary;
        padding:10px 1em;
        border-right:solid 1px #a1a0a0;
        display: inline-block;
        &:last-child {
          margin:0;
          border:0;
          padding-right:0;
        }
      }
    }
  }
}

.content {
  padding:5em 2em;
  .pagetitle {
    font-size: 40px;
  }
  .location {
    font-size: 18px;
  }
}

.gallery {
  margin-bottom:2em;
}

.cta {
  background: url('/resources/img/keys.png') no-repeat center bottom;
  .button {
    font-size: 13px;
    padding:.75em 3em;
  }
  .span4 {
    margin-bottom:3em;
  }
  h3{
    font-weight: 100;
    font-size: 1.75em;
    span{
      font-weight: 800;
    }
    .blue {
      color:$secondary;
    }
    .red {
      color:$red;
    }
    .dark {
      color:$dark;
    }
  }
  .callout {
    width:200px;
    margin:4em auto 10em;
    h3 {
      margin:0;
    }
    h2 {
      font-size: 2em;
      color:$red;
      font-weight: 800;
      margin:0;
    }
  }
}

.pages{
  ul {
    text-align: center;
  }
  li {
    text-align: center;
    p {
      min-height:44px;
    }
  }

  .line {
    background:url('/resources/img/line.jpg') no-repeat center;
  }
  h2 {
    font-weight: 100;
    padding:0 1em;
    background:white;
    display: inline-block;
    font-size: 1.4em;
    margin:1em;
  }
  p{
    width:80%;
    margin:auto;
  }

}

.col2 {
  li {
    display:inline-block;
    @include rowGrid(1,2%);
  }
}

.footer {
  background:$secondary;
  text-align: center;
  padding:3em;
  a {
    font-weight: 100;
    color:white;
    &:hover, &.active {
          @include opacity(.4);
        }
  }
  ul {
    li{
      display: inline;
      color:white;
      margin-left:1em;
      &:first-child{
        margin-left:0;
      }
      a {
        color:white;
        &:hover, &.active {
          @include opacity(.4);
        }
      }
    }
  }
}


/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.9);
  z-index: 1000;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(/resources/img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 20px auto 0;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  margin-bottom:1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.overlay ul li a {
  font-size: 32px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: $secondary;
}

/* Effects */
.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}

.mnav {
  float:right;
  padding:2em;
  a {
    font-size: 2em;
    cursor:pointer;
  }
}


.ico-envelope:before {
  display:inline-block;
  margin-right:1em;
}

header {
  .logo {
    margin-left:1em;
  }
  .tophat {
    text-align:center;
    .ico-envelope {
      margin-bottom:1em;
      display: inline-block;
    }
    ul {
      float:none;
      li{
        float:none;
        display:inline;
      }
    }
  }
}

.accessories-gallery {
    height: 500px;
}

.accessories-gallery {
  .contain {
    @include transition(all .3s);
    &:hover {
      background:#f3f5f7;
    }
  }
}

.contact-number .outer-strip {
display: block;
width: 88%;
height: 100%;
position: absolute;
right: -88%;
bottom: 0;
background-color: $secondary;
}

.contact-number {
position: relative;
font-size: 20px;
color: #e7eff7;
min-height: 48px;
line-height: 42px;
background-color: $secondary;
margin:0;
padding:0 20px;
font-size: 18px;
}

.contact-number, .contact-number .outer-strip {
background-color: $secondary;
}

.contact-number {
color: #D5D5D5;
}

.mainnav-wrap {
  position: absolute;
  bottom:0;
  right:0;
}


.listing {
  .meta {
    margin:1em 0;
    border-top:solid 1px $light;
    border-bottom:solid 1px $light;
    padding:1em 0;
    .price {
      float:left;
      font-style: italic;
      margin:0;
    }
    small {
      float:right;
      margin:0;
    }
  }
 
}

 .sidebar {
    form{
      margin-bottom:2em;
    }
    padding:10px;
    h4 {
      font-weight: 300;
      font-size: 18px;
    }
    label {
      font-size: 14px;
    }
    ::-webkit-input-placeholder {
         font-size: 12px;
      }

      :-moz-placeholder { /* Firefox 18- */
         font-size: 12px;  
      }

      ::-moz-placeholder {  /* Firefox 19+ */
         font-size: 12px;  
      }

      :-ms-input-placeholder {  
         font-size: 12px;  
      }
      .main-form input.cbp-mc-submit {
        font-size: 14px;
      }
  }

.back {
  font-size: 18px;
  &:hover {
    opacity:.8;
  }
}


.feature-property {
  display: inline-block;
  zoom: 1;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  background-color: #fff;
  display: block;
  margin-bottom: 15px;
  height:70px;
  &:hover {
    .image {
      @include transition(all .3s);
      @include opacity(.8);
    }
    h3 {
      color:$secondary;
      @include transition(all .3s);
    }
  }
  .image {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 100px;
    background-size:cover;
    height: 63px;
  }
  .wrapper {
    padding: 4px 0px;
  }
  h3 {
    font-size: 12px;
    margin:0 0 5px 0;
  }
  p {
    font-size: 12px;
    margin:0 0 5px 0;
  }
}

.home-feature {
  .image {
    width:100%;
    height:140px;
    background-size:cover;
  }
} 

ul.featured-homes {
  margin-top:3em;
  a {
    li {
      color:$primary;
    }
    &:hover {
      li, h1 {
        color:$red;
         @include transition(.3s all);
      }
      .contain {
        @include transition(.3s all ease-in-out);
        @include opacity(.5);
      }
    }
  }
  .ico-pin {
    font-size: 12px;
  }
  &>li {
    ul {
      margin:0;
    }
    @include rowGrid(1,3%);
    display:inline-block;
    vertical-align:top;
    padding:1em 0;
    border-bottom:solid 1px $neutral;
    &:last-child {
      border-bottom:0;
    }
    h1 {
      font-size: 20px;
      margin-bottom:10px;
    }
  }
}


.featured-home {
  .contain {}
  ul {
    margin:0;
  }
  h1 {
    margin-bottom:0px;
    font-size: 50px;
  }
  .span5 {
    height:250px;
    background-size:cover;
    margin-bottom:1em;
  }
}

.background {
  padding: 2em;
  background: rgba(0, 0, 0, 0.36);
}

#weather {
  display:inline-block;
  p{
    font-family:$heading;
  }
}

#carousel {
  img {
    cursor:pointer;
    @include transition(all .2s);
    &:hover{
      @include opacity(.8);
    }
  }
}


.learningCenter{
  .learning-center{
    ul {
      list-style:disc outside none;
      padding-left:20px;
    }
  }
}