body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
  line-height: 1.1;
}

h1 {
  margin: 0 0 1em 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  color: $primary;
}

h2 {
  font-weight: 100;
  color:$secondary;
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
  font-weight: 300;
}

a{
  color:$primary;;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

a:visited {
  color:inherit;
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.button {
  &:visited {
    color:$light;
  }
  position: relative;
  padding:.75em 4em;
  color:$light;
  border:solid 1px $light;
  font-family: $body;
  display: inline-block;
  @include transition(all .3s);
  margin:1em 0;

  &:after {
    content: "\e60f";
    @include opacity(0);
    font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position:absolute;
  margin:3px 0 0 10px;
  @include transition(all .3s);
  }
  &:hover {
    color:$red;
    border-color:$red;
    &:after {
      display:inline-block;
      margin-left:15px;
      @include opacity(1);
    }
  }
}


.pagetitle {
  font-size: 80px;
  color:$secondary;
  margin:0;
}
.location {
  font-weight: 400;
  color:#cccccc;
  font-size: 21px;
}