// COLOR PALETTE
$primary: #808284;
$secondary: #4c6d84;
$red: #971a31;
$dark: #231f20;
$hover: #a23448;
$neutral: #c1c1c1;
$highlight: #306DB1;
$ultralight: #f5f5f5;
$light: #7C7C7C;
$link: red;

// FONT STACKS
$heading: 'Roboto Slab', serif;
$body: 'Open Sans', sans-serif;