<div class="row-fluid wrap content">
            <div class="span8 [[+sidebar-widget:empty=`span12`]]">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
                <hr>
                [[*content]]
            </div>
            [[+sidebar-widget:notempty=`<div class="span4 sidebar">
                [[!getImageList? &tvname=`sidebar-widget` &tpl=`widget`]]
            </div>`]]
        </div>