        <script src="/resources/js/jquery.js"></script>
        <script src="/resources/js/jquery-ui-1.10.4.js"></script>
        <script src="/resources/js/libs/respond.min.js"></script>
        <script src="/resources/js/libs/bootstrap.min.js"></script>
        <script src="/resources/js/plugins.js"></script>
        <script src="/resources/js/main.js"></script>
        <script src="/resources/js/main-ck.js"></script>
        

        <script>
        $(window).load(function() {
            // The slider being synced must be initialized first
            $('#carousel').flexslider({
              animation: "slide",
              controlNav: false,
              animationLoop: false,
              slideshow: false,
              itemWidth: 210,
              itemMargin: 5,
              asNavFor: '#slider',
              minItems: 2,
              maxItems: 4
            });
             
            $('#slider').flexslider({
              animation: "slide",
              controlNav: false,
              animationLoop: false,
              slideshow: false,
              sync: "#carousel"
            });
          });
        </script>
        <script>
         $(document).ready(function() {
            $.simpleWeather({
              location: 'Des Moines, IA',
              woeid: '',
              unit: 'f',
              success: function(weather) {
                html = '<p> '+weather.temp+'&deg; '+weather.units.temp+' &nbsp;<span class="ico-cloudy"></span> </p>';
               
                $("#weather").html(html);
              },
              error: function(error) {
                $("#weather").html('<p>'+error+'</p>');
              }
            });
          });
         </script>
        
    </body>
</html>