<div class="feature-property">
	<a href="[[~[[+id]]]]">
	    <div class="image" style="background-image:url('[[+feature-photo]]')">

	    </div>
	    <div class+"wrapper">
	        <h3>[[+pagetitle]]</h3>
	        <p>[[+longtitle]]</p>
	        <p><strong>$[[+asking-price]]</strong></p>
	    </div>
	</a>
</div>