[[+featured-home:notempty=`
	<div class="row-fluid featured-home">
	  <div class="span5" style="background-image:url('[[+feature-photo]]')">
	  </div>

	  <div class="span7">
	  	<ul class="cf">
            <h1>[[+pagetitle]] </h1>
            <h3 class="price">$[[+asking-price]]</h3>
        	<p class="ico-pin">[[+longtitle]]</p>
            <li>[[+sq-ft]] sq. ft.</li>
            <li>[[+bedrooms]] Bedrooms</li>
            <li>[[+bathrooms]] Bathrooms</li>
        </ul>
       </div>
   </div>
       <div class="row-fluid">
       	<br>
        	[[+content:limit=`500`]]
        	<br>
        	<a href="[[~[[+id]]]]" class="button">View Property</a>
	  </div>
	
`]]