    <section class="footer">
        <img src="/resources/img/logo-rev.png" alt="">
        [[Wayfinder? 
            &level=`1`
            &startId=`0`
            &innerTpl=`nav_innner`
            &outerTpl=`nav_mobile_outer`
            &sortBy=`menuindex`
        ]]
        <a href="mailto:[[++primary-email]]">[[++primary-email]]</a>
    </section>