<li class="home-feature">
    <a href="[[~[[+id]]]]">
        <div class="contain">
            <h1>[[+pagetitle]]</h1>
            <p class="ico-pin">[[+longtitle]]</p>
            <div class="image" style="background-image:url('[[+feature-photo]]')">
            </div>
        </div>
        
        <div class="info">
            <ul class="cf">
                <li>[[+sq-ft]] sq. ft.</li>
                <li>[[+bedrooms]] Bedrooms</li>
                <li>[[+bathrooms]] Bathrooms</li>
            </ul>
        </div>
    </a>
</li>