<li class="home-feature">
    <a href="[[~[[+id]]]]">
        <div class="row-fluid">
            <div class="span6">
                <div class="contain">
                    
                    <div class="image" style="background-image:url('[[+feature-photo]]')">
                    </div>
                </div>
            </div>
            <div class="span6">
                
                <div class="">
                    <ul class="cf">
                        <h1>[[+pagetitle]]</h1>
                    <p class="ico-pin">[[+longtitle]]</p>
                        <li>[[+sq-ft]] sq. ft.</li>
                        <li>[[+bedrooms]] Bedrooms</li>
                        <li>[[+bathrooms]] Bathrooms</li>
                    </ul>
                </div>
            </div>
    </a>
</li>