<li>
    <a href="[[+link]]" [[+target:notempty=`target="_blank"`]]><img src="[[+thumbnail]]" alt=""></a>
    <div class="line">
        <h2>[[+pagetitle]]</h2>
    </div>
    <p>[[+description]]</p>
    <a href="[[+link]]" [[+target:notempty=`target="_blank"`]] class="button">[[+introtext]]</a>
</li>