
    <div class="span3 learning-center hidden-phone">
        [[*sidebar-content]]
    </div>
    <div class="span9">
        <div class="row-fluid">
        	<h1 class="pagetitle">[[*pagetitle]]</h1>
            [[*content]]
        </div>
    </div>
