/* line 26, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  *zoom: 1;
}
/* line 28, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/_mixins.scss */
.cf:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 53, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 54, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 57, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 72, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 79, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 85, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 90, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 92, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 113, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 119, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 126, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 133, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 134, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 137, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 144, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 152, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 158, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 166, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 172, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 178, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 179, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 180, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 186, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 193, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 197, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 204, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 205, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 213, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 214, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 217, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 220, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 223, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 226, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 229, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 230, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 231, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 239, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 240, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 241, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 242, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 243, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 244, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 245, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 246, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 247, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 249, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 250, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESPONSIVE IMAGES */
/* line 13, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 20, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* line 26, ../sass/_smallest.scss */
body {
  padding: 0;
}

/* MAIN */
/* line 31, ../sass/_smallest.scss */
section > .wrap {
  padding: 2em;
}

/* line 36, ../sass/_smallest.scss */
.wrap {
  max-width: 960px;
  margin: auto;
}
/* line 39, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 44, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* FOOTER */
/* BUTTON */
/* HEADER */
/* CONTENT */
/* line 67, ../sass/_smallest.scss */
.hero h1, .container h1, .wrapper h1 {
  opacity: 0.8;
  filter: alpha(opacity=0.8);
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

/* line 75, ../sass/_smallest.scss */
.test ul li {
  float: left;
  width: 99%;
}
/* line 326, ../sass/_mixins.scss */
.test ul li:nth-child(n) {
  margin-bottom: 1%;
  margin-right: 1%;
}
/* line 330, ../sass/_mixins.scss */
.test ul li:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 82, ../sass/_smallest.scss */
.hero {
  background-size: cover;
  padding: 9em 2em;
  text-align: center;
  background-position: center;
}
/* line 83, ../sass/_smallest.scss */
.hero.header-image {
  padding: 11em 2em;
}
/* line 90, ../sass/_smallest.scss */
.hero h1, .hero h3 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
/* line 93, ../sass/_smallest.scss */
.hero h1 {
  color: white;
  text-transform: uppercase;
  margin-bottom: .5em;
  line-height: 1.4;
  font-size: 21px;
}
/* line 101, ../sass/_smallest.scss */
.hero h3 {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 400;
  margin-bottom: 2em;
  font-size: 21px;
}
/* line 108, ../sass/_smallest.scss */
.hero .wrap {
  max-width: 700px;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
}
/* line 113, ../sass/_smallest.scss */
.hero .wrap form input {
  height: auto;
  margin: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 117, ../sass/_smallest.scss */
.hero .wrap form input:focus {
  box-shadow: none;
  outline: 0;
  background: rgba(255, 255, 255, 0.63);
  border: 0;
  color: #971a31;
}
/* line 125, ../sass/_smallest.scss */
.hero .wrap form .cbp-mc-submit {
  background: #971a31;
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 129, ../sass/_smallest.scss */
.hero .wrap form .cbp-mc-submit:hover {
  background: #a23448;
}

/* line 137, ../sass/_smallest.scss */
.testimonials-section {
  height: 310px;
  display: table;
  padding: 0 2em;
  text-align: center;
}
/* line 141, ../sass/_smallest.scss */
.testimonials-section .testimonial-container {
  display: table-cell;
  vertical-align: middle;
}
/* line 145, ../sass/_smallest.scss */
.testimonials-section .item {
  display: none;
}
/* line 147, ../sass/_smallest.scss */
.testimonials-section.wrap {
  max-width: 600px;
}
/* line 150, ../sass/_smallest.scss */
.testimonials-section p, .testimonials-section a {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  color: #808284;
  font-style: italic;
  line-height: 1.8;
}
/* line 158, ../sass/_smallest.scss */
.testimonials-section a {
  color: #4c6d84;
}

/* line 162, ../sass/_smallest.scss */
.contain {
  margin-bottom: 1em;
}

/* line 166, ../sass/_smallest.scss */
.accessories-gallery {
  margin-top: 0;
  padding: 2em 0;
}
/* line 169, ../sass/_smallest.scss */
.accessories-gallery .contain {
  padding: 10px;
  text-align: center;
}
/* line 173, ../sass/_smallest.scss */
.accessories-gallery h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #4c6d84;
  margin: 0 0 10px 0;
}
/* line 180, ../sass/_smallest.scss */
.accessories-gallery p {
  color: #c1c1c1;
  margin: 0 0 10px 0;
}
/* line 183, ../sass/_smallest.scss */
.accessories-gallery p:before {
  display: inline-block;
  margin-right: 5px;
}
/* line 188, ../sass/_smallest.scss */
.accessories-gallery h2 {
  font-size: 2em;
  font-weight: 100;
  text-align: center;
}
/* line 193, ../sass/_smallest.scss */
.accessories-gallery .info {
  position: absolute;
  bottom: 0;
  background: whitesmoke;
  text-align: center;
  width: 100%;
  border-top: solid 1px #c1c1c1;
  display: inline-block;
}
/* line 201, ../sass/_smallest.scss */
.accessories-gallery .info ul {
  margin: 0;
}
/* line 204, ../sass/_smallest.scss */
.accessories-gallery .info ul li {
  font-size: 8px;
  color: #4c6d84;
  padding: 10px 1em;
  border-right: solid 1px #a1a0a0;
  display: inline-block;
}
/* line 210, ../sass/_smallest.scss */
.accessories-gallery .info ul li:last-child {
  margin: 0;
  border: 0;
  padding-right: 0;
}

/* line 220, ../sass/_smallest.scss */
.content {
  padding: 5em 2em;
}
/* line 222, ../sass/_smallest.scss */
.content .pagetitle {
  font-size: 40px;
}
/* line 225, ../sass/_smallest.scss */
.content .location {
  font-size: 18px;
}

/* line 230, ../sass/_smallest.scss */
.gallery {
  margin-bottom: 2em;
}

/* line 234, ../sass/_smallest.scss */
.cta {
  background: url("/resources/img/keys.png") no-repeat center bottom;
}
/* line 236, ../sass/_smallest.scss */
.cta .button {
  font-size: 13px;
  padding: .75em 3em;
}
/* line 240, ../sass/_smallest.scss */
.cta .span4 {
  margin-bottom: 3em;
}
/* line 243, ../sass/_smallest.scss */
.cta h3 {
  font-weight: 100;
  font-size: 1.75em;
}
/* line 246, ../sass/_smallest.scss */
.cta h3 span {
  font-weight: 800;
}
/* line 249, ../sass/_smallest.scss */
.cta h3 .blue {
  color: #4c6d84;
}
/* line 252, ../sass/_smallest.scss */
.cta h3 .red {
  color: #971a31;
}
/* line 255, ../sass/_smallest.scss */
.cta h3 .dark {
  color: #231f20;
}
/* line 259, ../sass/_smallest.scss */
.cta .callout {
  width: 200px;
  margin: 4em auto 10em;
}
/* line 262, ../sass/_smallest.scss */
.cta .callout h3 {
  margin: 0;
}
/* line 265, ../sass/_smallest.scss */
.cta .callout h2 {
  font-size: 2em;
  color: #971a31;
  font-weight: 800;
  margin: 0;
}

/* line 275, ../sass/_smallest.scss */
.pages ul {
  text-align: center;
}
/* line 278, ../sass/_smallest.scss */
.pages li {
  text-align: center;
}
/* line 280, ../sass/_smallest.scss */
.pages li p {
  min-height: 44px;
}
/* line 285, ../sass/_smallest.scss */
.pages .line {
  background: url("/resources/img/line.jpg") no-repeat center;
}
/* line 288, ../sass/_smallest.scss */
.pages h2 {
  font-weight: 100;
  padding: 0 1em;
  background: white;
  display: inline-block;
  font-size: 1.4em;
  margin: 1em;
}
/* line 296, ../sass/_smallest.scss */
.pages p {
  width: 80%;
  margin: auto;
}

/* line 304, ../sass/_smallest.scss */
.col2 li {
  display: inline-block;
  width: 99%;
}
/* line 326, ../sass/_mixins.scss */
.col2 li:nth-child(n) {
  margin-bottom: 2%;
  margin-right: 2%;
}
/* line 330, ../sass/_mixins.scss */
.col2 li:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 310, ../sass/_smallest.scss */
.footer {
  background: #4c6d84;
  text-align: center;
  padding: 3em;
}
/* line 314, ../sass/_smallest.scss */
.footer a {
  font-weight: 100;
  color: white;
}
/* line 317, ../sass/_smallest.scss */
.footer a:hover, .footer a.active {
  opacity: 0.4;
  filter: alpha(opacity=0.4);
}
/* line 322, ../sass/_smallest.scss */
.footer ul li {
  display: inline;
  color: white;
  margin-left: 1em;
}
/* line 326, ../sass/_smallest.scss */
.footer ul li:first-child {
  margin-left: 0;
}
/* line 329, ../sass/_smallest.scss */
.footer ul li a {
  color: white;
}
/* line 331, ../sass/_smallest.scss */
.footer ul li a:hover, .footer ul li a.active {
  opacity: 0.4;
  filter: alpha(opacity=0.4);
}

/* Overlay style */
/* line 341, ../sass/_smallest.scss */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

/* Overlay closing cross */
/* line 352, ../sass/_smallest.scss */
.overlay .overlay-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(/resources/img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Menu style */
/* line 368, ../sass/_smallest.scss */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 377, ../sass/_smallest.scss */
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 20px auto 0;
  display: inline-block;
  height: 100%;
  position: relative;
}

/* line 386, ../sass/_smallest.scss */
.overlay ul li {
  display: block;
  margin-bottom: 1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 393, ../sass/_smallest.scss */
.overlay ul li a {
  font-size: 32px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

/* line 403, ../sass/_smallest.scss */
.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #4c6d84;
}

/* Effects */
/* line 408, ../sass/_smallest.scss */
.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

/* line 416, ../sass/_smallest.scss */
.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
  /* line 425, ../sass/_smallest.scss */
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  /* line 429, ../sass/_smallest.scss */
  .overlay ul li {
    min-height: 34px;
  }
}
/* line 434, ../sass/_smallest.scss */
.mnav {
  float: right;
  padding: 2em;
}
/* line 437, ../sass/_smallest.scss */
.mnav a {
  font-size: 2em;
  cursor: pointer;
}

/* line 444, ../sass/_smallest.scss */
.ico-envelope:before {
  display: inline-block;
  margin-right: 1em;
}

/* line 450, ../sass/_smallest.scss */
header .logo {
  margin-left: 1em;
}
/* line 453, ../sass/_smallest.scss */
header .tophat {
  text-align: center;
}
/* line 455, ../sass/_smallest.scss */
header .tophat .ico-envelope {
  margin-bottom: 1em;
  display: inline-block;
}
/* line 459, ../sass/_smallest.scss */
header .tophat ul {
  float: none;
}
/* line 461, ../sass/_smallest.scss */
header .tophat ul li {
  float: none;
  display: inline;
}

/* line 469, ../sass/_smallest.scss */
.accessories-gallery {
  height: 500px;
}

/* line 474, ../sass/_smallest.scss */
.accessories-gallery .contain {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 476, ../sass/_smallest.scss */
.accessories-gallery .contain:hover {
  background: #f3f5f7;
}

/* line 482, ../sass/_smallest.scss */
.contact-number .outer-strip {
  display: block;
  width: 88%;
  height: 100%;
  position: absolute;
  right: -88%;
  bottom: 0;
  background-color: #4c6d84;
}

/* line 492, ../sass/_smallest.scss */
.contact-number {
  position: relative;
  font-size: 20px;
  color: #e7eff7;
  min-height: 48px;
  line-height: 42px;
  background-color: #4c6d84;
  margin: 0;
  padding: 0 20px;
  font-size: 18px;
}

/* line 504, ../sass/_smallest.scss */
.contact-number, .contact-number .outer-strip {
  background-color: #4c6d84;
}

/* line 508, ../sass/_smallest.scss */
.contact-number {
  color: #D5D5D5;
}

/* line 512, ../sass/_smallest.scss */
.mainnav-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 520, ../sass/_smallest.scss */
.listing .meta {
  margin: 1em 0;
  border-top: solid 1px #7c7c7c;
  border-bottom: solid 1px #7c7c7c;
  padding: 1em 0;
}
/* line 525, ../sass/_smallest.scss */
.listing .meta .price {
  float: left;
  font-style: italic;
  margin: 0;
}
/* line 530, ../sass/_smallest.scss */
.listing .meta small {
  float: right;
  margin: 0;
}

/* line 538, ../sass/_smallest.scss */
.sidebar {
  padding: 10px;
}
/* line 539, ../sass/_smallest.scss */
.sidebar form {
  margin-bottom: 2em;
}
/* line 543, ../sass/_smallest.scss */
.sidebar h4 {
  font-weight: 300;
  font-size: 18px;
}
/* line 547, ../sass/_smallest.scss */
.sidebar label {
  font-size: 14px;
}
/* line 550, ../sass/_smallest.scss */
.sidebar ::-webkit-input-placeholder {
  font-size: 12px;
}
/* line 554, ../sass/_smallest.scss */
.sidebar :-moz-placeholder {
  /* Firefox 18- */
  font-size: 12px;
}
/* line 558, ../sass/_smallest.scss */
.sidebar ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 12px;
}
/* line 562, ../sass/_smallest.scss */
.sidebar :-ms-input-placeholder {
  font-size: 12px;
}
/* line 565, ../sass/_smallest.scss */
.sidebar .main-form input.cbp-mc-submit {
  font-size: 14px;
}

/* line 570, ../sass/_smallest.scss */
.back {
  font-size: 18px;
}
/* line 572, ../sass/_smallest.scss */
.back:hover {
  opacity: .8;
}

/* line 578, ../sass/_smallest.scss */
.feature-property {
  display: inline-block;
  zoom: 1;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: block;
  margin-bottom: 15px;
  height: 70px;
}
/* line 589, ../sass/_smallest.scss */
.feature-property:hover .image {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.8;
  filter: alpha(opacity=0.8);
}
/* line 593, ../sass/_smallest.scss */
.feature-property:hover h3 {
  color: #4c6d84;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 598, ../sass/_smallest.scss */
.feature-property .image {
  float: left;
  margin-right: 10px;
  position: relative;
  width: 100px;
  background-size: cover;
  height: 63px;
}
/* line 606, ../sass/_smallest.scss */
.feature-property .wrapper {
  padding: 4px 0px;
}
/* line 609, ../sass/_smallest.scss */
.feature-property h3 {
  font-size: 12px;
  margin: 0 0 5px 0;
}
/* line 613, ../sass/_smallest.scss */
.feature-property p {
  font-size: 12px;
  margin: 0 0 5px 0;
}

/* line 620, ../sass/_smallest.scss */
.home-feature .image {
  width: 100%;
  height: 140px;
  background-size: cover;
}

/* line 627, ../sass/_smallest.scss */
ul.featured-homes {
  margin-top: 3em;
}
/* line 630, ../sass/_smallest.scss */
ul.featured-homes a li {
  color: #808284;
}
/* line 634, ../sass/_smallest.scss */
ul.featured-homes a:hover li, ul.featured-homes a:hover h1 {
  color: #971a31;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 638, ../sass/_smallest.scss */
ul.featured-homes a:hover .contain {
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  opacity: 0.5;
  filter: alpha(opacity=0.5);
}
/* line 644, ../sass/_smallest.scss */
ul.featured-homes .ico-pin {
  font-size: 12px;
}
/* line 647, ../sass/_smallest.scss */
ul.featured-homes > li {
  width: 99%;
  display: inline-block;
  vertical-align: top;
  padding: 1em 0;
  border-bottom: solid 1px #c1c1c1;
}
/* line 648, ../sass/_smallest.scss */
ul.featured-homes > li ul {
  margin: 0;
}
/* line 326, ../sass/_mixins.scss */
ul.featured-homes > li:nth-child(n) {
  margin-bottom: 3%;
  margin-right: 3%;
}
/* line 330, ../sass/_mixins.scss */
ul.featured-homes > li:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 656, ../sass/_smallest.scss */
ul.featured-homes > li:last-child {
  border-bottom: 0;
}
/* line 659, ../sass/_smallest.scss */
ul.featured-homes > li h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* line 669, ../sass/_smallest.scss */
.featured-home ul {
  margin: 0;
}
/* line 672, ../sass/_smallest.scss */
.featured-home h1 {
  margin-bottom: 0px;
  font-size: 50px;
}
/* line 676, ../sass/_smallest.scss */
.featured-home .span5 {
  height: 250px;
  background-size: cover;
  margin-bottom: 1em;
}

/* line 683, ../sass/_smallest.scss */
.background {
  padding: 2em;
  background: rgba(0, 0, 0, 0.36);
}

/* line 688, ../sass/_smallest.scss */
#weather {
  display: inline-block;
}
/* line 690, ../sass/_smallest.scss */
#weather p {
  font-family: "Roboto Slab", serif;
}

/* line 696, ../sass/_smallest.scss */
#carousel img {
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 699, ../sass/_smallest.scss */
#carousel img:hover {
  opacity: 0.8;
  filter: alpha(opacity=0.8);
}

/* line 708, ../sass/_smallest.scss */
.learningCenter .learning-center ul {
  list-style: disc outside none;
  padding-left: 20px;
}

/* line 1, ../sass/_480.scss */
section {
  padding: 2em 0;
}

/* line 7, ../sass/_480.scss */
.hero h1 {
  font-size: 30px;
}
/* line 10, ../sass/_480.scss */
.hero h3 {
  font-size: 24.5px;
}

/* line 1, ../sass/_768.scss */
section {
  padding: 2em 0;
}

/* line 6, ../sass/_768.scss */
.col2 li {
  width: 46.5%;
}
/* line 326, ../sass/_mixins.scss */
.col2 li:nth-child(n) {
  margin-bottom: 5%;
  margin-right: 5%;
}
/* line 330, ../sass/_mixins.scss */
.col2 li:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 12, ../sass/_768.scss */
.cta .span4 {
  margin-bottom: 1em;
}

/* line 19, ../sass/_768.scss */
header .logo {
  margin-left: 0em;
}
/* line 22, ../sass/_768.scss */
header .tophat {
  text-align: left;
}
/* line 24, ../sass/_768.scss */
header .tophat .ico-envelope {
  margin-bottom: 0em;
  display: inline-block;
}
/* line 28, ../sass/_768.scss */
header .tophat ul {
  float: right;
  margin-right: 1em;
}
/* line 31, ../sass/_768.scss */
header .tophat ul li {
  float: none;
  display: inline;
}

/* line 40, ../sass/_768.scss */
.contact-number {
  float: right;
}

/* line 44, ../sass/_768.scss */
ul.featured-homes > li {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  border-bottom: 0;
}
/* line 326, ../sass/_mixins.scss */
ul.featured-homes > li:nth-child(n) {
  margin-bottom: 2%;
  margin-right: 2%;
}
/* line 330, ../sass/_mixins.scss */
ul.featured-homes > li:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 53, ../sass/_768.scss */
.testimonials-section {
  padding: 0;
}
/* line 57, ../sass/_768.scss */
.testimonials-section p {
  font-size: 18px;
}

/* line 1, ../sass/_940.scss */
.content {
  padding: 5em 0em;
}
/* line 3, ../sass/_940.scss */
.content .pagetitle {
  font-size: 60px;
}

/* line 9, ../sass/_940.scss */
section > .wrap {
  padding: 2em 0;
}
