<header>
            <div class="overlay overlay-slidedown">
            <button type="button" class="overlay-close">Close</button>
            <nav style="display:none">
                <ul>
                    <li>item</li>
                </ul>
            </nav>
            <nav>
                [[Wayfinder? 
                            &level=`1`
                            &startId=`0`
                            &innerTpl=`nav_innner`
                            &outerTpl=`nav_mobile_outer`
                            &sortBy=`menuindex`
                        ]]
                       
            </nav>
        </div>
             <div class="tophat">
                <div class="row-fluid wrap">
                    <a class="ico-envelope" href="mailto:[[++primary-email]]">Email us at: [[++primary-email]]</a>
                    [[!getResources?
                      &parents=`29`
                      &tpl=`phone`
                      &showHidden=`1`
                      &limit=`1`
                      &sortby=`RAND()`
                    ]]
                    <ul>
                        <li><a id="facebook" target="_new" href="[[++facebook]]" class="ico-facebook"></a></li>
                        <li><a id="twitter" target="_new" href="[[++twitter]]" class="ico-twitter"></a></li>
                        <li><a id="linkedin" target="_new" href="[[++linkedin]]" class="ico-linkedin"></a></li>
                        <li><a id="youtube" target="_new" href="[[++youtube]]" class="ico-youtube"></a></li>
                        <li><a id="zillow" target="_new" href="[[++zillow]]" class="ico-zillow"></a></li>
                        <li><a id="houzz" target="_new" href="[[++houzz]]" class="ico-houzz"></a></li>
                        <li><div id="weather"></div></li>
                    </ul>
                </div>
            </div>
            <nav class="mainnav">
                <div class="wrap">
                    <a href="/"><img src="/resources/img/logo-rev.png" alt="" class="logo"></a>
                    <p class="mnav hidden-desktop"><a class="ico-menu" id="trigger-overlay" type="button"></a></p>
                    <div class="mainnav-wrap">
                        
                        
                   
                    
                        [[Wayfinder? 
                            &level=`1`
                            &startId=`0`
                            &innerTpl=`nav_innner`
                            &outerTpl=`nav_outer`
                            &sortBy=`menuindex`
                        ]]
                       
                    
                </div>

                </div>
                <!-- <a href="" class="ico-phone phone">515-999-9999</a> -->
            </nav>
        </header>