[[$doc_head]]
    <body>
         [[$navigation]]
         [[$header-interior]]
         <div class="row-fluid wrap content">
            <div class="span8">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
                <hr>
                [[*content]]
                <style type="text/css">
<!--
.display_archive {font-family: arial,verdana; font-size: 12px;}
.campaign {line-height: 125%; margin: 5px;}
//-->
</style>
<script language="javascript" src="http://us7.campaign-archive1.com/generate-js/?u=1eeb2f19112fc21a4e9447985&fid=7521&show=10" type="text/javascript"></script>
            </div>
            <div class="span4 sidebar">
                [[!getImageList? &tvname=`sidebar-widget` &tpl=`widget`]]
            </div>
        </div>
        
[[$footer]]
[[$doc_footer]]
