[[$doc_head]]
    <body>
         [[$navigation]]
         [[$header-interior]]
         <div class="row-fluid wrap content">
            <div class="span12">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
                <hr>
                <div class="row-fluid">
                    <div class="span4">
                        [[*content]]
                    </div>
                    <div class="span8">
                        [[$contact_form]]
                    </div>
                </div>
            </div>
        </div>
        
[[$footer]]
[[$doc_footer]]
