[[$doc_head]]
    <body>
         [[$navigation]]
         [[$header]]
        
       

    <div style="display:none"> <!-- DISPLAY NONE -->
        <section id="main-product">
            <div class="main-product-info">
    
            <a href="#0" class="btn">from $1,299</a>
        </div> <!-- / main-product-info -->
        </section> <!-- / main-product -->

        <ul id="products">
            <li>
                <div class="product-info">
                    <b>MacBook Pro</b>
                    <p class="description">More power<br>behind every pixel.</p>
                 
                </div>
                <div class="product-img">
                    <div class="lens-wrap">
                        
                    </div>
                </div>
            </li>
        </ul> <!-- / products -->
    </div> <!-- END DISPLAY NONE -->
    <section class="testimonials-section row-fluid wrap">
      <div class="testimonial-container">
        <div class="testimonials">
    [[getResources?
                      &parents=`25`
                      &tpl=`home_testimonials`
                      &showHidden=`1`
                      &limit=`0`
                      &includeContent=`1`
                      &includeTVs=`1` 
                      &processTVs=`1` 
                      &tvPrefix=``
                      &showUnpublished=`1`
                    ]]
                  </div>
        </div>
    </section>
    <section id="accessories">
        
        <ul class="accessories-gallery">
            <h2>Featured Listings</h2>
            [[getResources?
                      &parents=`3`
                      &tpl=`home_feature`
                      &showHidden=`1`
                      &limit=`0`
                      &includeContent=`1`
                      &includeTVs=`1` 
                      &processTVs=`1` 
                      &tvPrefix=``
                    ]]
            <div class="accessories-move">
                <div><a class="img-replace" href="#0">Previous</a></div>
                <div><a class="img-replace" href="#0">Next</a></div>
            </div>

        </ul>
    </section> 
    <section class="cta">
        <div class="wrap row-fluid">
            <div class="span4">
                <h3>Buyers<span class="blue"> / Sellers</span></h3>
                [[*cta-content-buyers/sellers]]
            </div>
            <div class="span4">
                <h3>Your Home <span class="red">Search</span></h3>
                [[*cta-content-homesearch]]
            </div>
            <div class="span4">
                <h3><span class="dark">Testimonials</span></h3>
                [[*cta-content-testimonials]]
            </div>
        </div>
        <div class="callout">
            <h3>Your Home</h3>
            <h2>Your Dream</h2>
        </div>
        </div>
    </section>
    <section class="pages">
        <div class="wrap row-fluid">
            <ul class="col2">
                <ul>
                    [[getResources?
                      &parents=`12`
                      &tpl=`home_section`
                      &showHidden=`1`
                      &limit=`0`
                      &includeContent=`1`
                      &includeTVs=`1` 
                      &processTVs=`1` 
                      &tvPrefix=``
                      &sortby=`menuindex`
                      &sortdir=`ASC`
                    ]]
                  
                </ul>
            </ul>
        </div>
    </section>
[[$footer]]
[[$doc_footer]]
