[[$doc_head]]
    <body>
         [[$navigation]]
         [[$header-interior]]
         <div class="row-fluid wrap content">
            <div class="span8">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
                <hr>
                [[*content]]
            </div>
            <div class="span4 sidebar">
                [[!getImageList? &tvname=`sidebar-widget` &tpl=`widget`]]
            </div>
        </div>
        
[[$footer]]
[[$doc_footer]]
