[[$doc_head]]
    <body>
         [[$navigation]]
         [[$header-interior]]
         <div class="row-fluid wrap content">
            <div class="span12">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
                <hr>
                [[*content]]
            </div>
           </div>
        
[[$footer]]
[[$doc_footer]]
