[[$doc_head]]
    <body class="listing">
         [[$navigation]]
         [[$header-our-listings]]
         <div class="row-fluid wrap content">
            
            <div class="span8">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
                <div id="slider" class="flexslider">
                  <ul class="slides">
                        [[Gallery? 
                            &album=`[[*album]]`
                            &thumbTpl=`home-gallery`
                            &thumbHeight=`400`
                            &thumbWidth=`400`
                            &thumbFar=`C`
                            &limit=`0`
                            &imageHeight=`380`
                            &imageFar=`C`
                            &imageZoomCrop=`1`
                        ]]
                  </ul>
                </div>
                <div id="carousel" class="flexslider">
                  <ul class="slides">
                    [[Gallery? 
                            &album=`[[*album]]`
                            &thumbTpl=`home-gallery-thumb`
                            &thumbFar=`C`
                            &imageHeight=`132`
                            &imageWidth=`210`
                            &limit=`0`
                            &imageFar=`C`
                            &imageZoomCrop=`1`
                        ]]
                  </ul>
                </div>
                <div class="meta row-fluid">
                    <h3 class="price">$[[*asking-price]]</h3>
                    <small><span class="ico-pin"></span>[[*longtitle]] | [[*bedrooms]] Beds | [[*bathrooms]] Baths | [[*sq-ft]] sq ft</small>
                </div>
                <h2>About This Property</h2>
                <hr class="decoration">
                [[*content]]
                <hr>
                <h2><a class="back" href="/our-listings/">< See More of Our Listings</a></h2>
            </div>
            <div class="span4 sidebar">
                [[$listing-contact-form]]
                [[$feature-property-widget]]
                [[$mortgage]]
            </div>
        </div>
        
[[$footer]]
[[$doc_footer]]
