[[$doc_head]]
    <body>
         [[$navigation]]
         [[$header-interior]]
         <div class="row-fluid wrap content">
          <h1 class="pagetitle">Featured Home</h1>
          <hr>
          <br>
          [[!getResources?
                          &parents=`3`
                          &tpl=`featured-home`
                          &showHidden=`1`
                          &limit=`1`
                          &includeContent=`1`
                          &includeTVs=`1` 
                          &processTVs=`1` 
                          &tvPrefix=``
                          &sortby=`{"createdon":"DESC"}`
                          &tvFilters=`featured-home==Featured Home`
                        ]]
            <div class="row-fluid">
                <h1 class="pagetitle">[[*pagetitle]]</h1>
                <hr>
                <ul class="featured-homes">
                    [[getResources?
                          &parents=`3`
                          &tpl=`home_feature_index`
                          &showHidden=`1`
                          &limit=`0`
                          &includeContent=`1`
                          &includeTVs=`1` 
                          &processTVs=`1` 
                          &tvPrefix=``

                        ]]
                </ul>
            </div>

        </div>
        
[[$footer]]
[[$doc_footer]]
