 [[!FormIt?
       &hooks=`spam, email`
       &emailFrom=`[[++primary-email]]`
       &emailTpl=`snt_from`
       &emailTo=`justin.lobaito@weloideas.com, [[++primary-email]]`
       &emailSubject=`Contact Form Submission`
       &validate=`phone:required, state:required, first_name:required, last_name:required, city:required, address:required, email:required, email:email, comments:required:stripTags, nospam:blank`
      &successMessage=`<div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Thank you for getting in contact with us.</h3>
      <p>We will get in contact with you shortly</p>
    </div>`
    ]]

   [[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
		<div>
		      <strong><h3>Please review the following errors:</h3></strong>
		            [[!+fi.error.first_name:!empty=`<p>First Name is required</p>`]]
		            [[!+fi.error.last_name:!empty=`<p>Last Name is required</p>`]]
		            [[!+fi.error.email:!empty=`<p>Email Address is required</p>`]]
		            [[!+fi.error.phone:!empty=`<p>Phone Number is required</p>`]]
		            [[!+fi.error.address:!empty=`<p>Address is required</p>`]]
		            [[!+fi.error.city:!empty=`<p>City is required</p>`]]
		            [[!+fi.error.state:!empty=`<p>State is required</p>`]]
					[[!+fi.error.comments:!empty=`<p>Additional Comments is required</p>`]]

		</div>
</div>


`]]
    [[!+fi.successMessage]]


                   <form class="main-form row-fluid" action="[[~[[*id]]]]" method="post"  >
                        
                            <div class="row-fluid">
                                <div class="span6">
                                    <input type="hidden" name="nospam" value="" />
                                    <label for="first_name">First Name<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.first_name]]" id="first_name" name="first_name"  placeholder="Jonathan">
                                </div>
                                <div class="span6">
                                    <label for="last_name">Last Name<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.last_name]]" id="last_name" name="last_name"  placeholder="Doe">
                                </div>
                            </div>
                            <label for="email">Email Address<sup>*</sup></label>
                            <input type="text" value="[[!+fi.email]]" id="email" name="email"   placeholder="jon@doe.com">
                            <label for="phone">Phone<sup>*</sup></label>
                            <input type="text" value="[[!+fi.phone]]" id="phone" name="phone"   placeholder="999-999-9999">
                            <label for="address">Address<sup>*</sup></label>
                            <input type="text" value="[[!+fi.address]]" id="address" name="address"  >
                            <div class="row-fluid">
                                <div class="span4">
                                    <label for="city">City<sup>*</sup></label>
                                    <input value="[[!+fi.city]]" type="text" id="city" name="city"  >
                                </div>
                                
                                <div class="span4">
                            <label for="state">State<sup>*</sup></label>
                                    <select value="[[!+fi.state]]" id="state" name="state">
                                        <option value="AL">Alabama</option>
                                        <option value="AK">Alaska</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="CA">California</option>
                                        <option value="CO">Colorado</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="DC">District of Columbia</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="ID">Idaho</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IN">Indiana</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NV">Nevada</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="OH">Ohio</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="OR">Oregon</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="TX">Texas</option>
                                        <option value="UT">Utah</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WA">Washington</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WY">Wyoming</option>
                                      </select>
                                </div>
                                <div class="span4">
                                    <label for="zip">Zip</label>
                            <input value="[[!+fi.zip]]" type="text" id="zip" name="zip"  >
<input value="[[!+fi.nospam]]" type="text" id="nospam" name="nospam" class="nospam">
                                </div>
                            </div>
                            <label for="comments">Additional Comments<sup>*</sup></label>
                            <textarea value="[[!+fi.comments]]" id="comments" name="comments"></textarea>
                        <input class="cbp-mc-submit" type="submit" value="Send our way" />
                    </form>
                  