 [[!FormIt?
       &hooks=`spam, email`
       &emailFrom=`[[++primary-email]]`
       &emailTpl=`snt_from_email`
       &emailTo=`justin.lobaito@weloideas.com, [[++primary-email]]`
       &emailSubject=`New Email Lead From - [[++site_name]]`
       &validate=`
           email:required, email:email,
           nospam:blank`
      &successMessage=`<div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Thank you for reaching out to us.</h3>
      <p>We will get in contact with you shortly</p>
    </div>`
    ]]

   [[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div>
              <strong><h3>Please review the following errors:</h3></strong>
                    [[!+fi.error.email:!empty=`<p>Email Address is required</p>`]]

        </div>
</div>


`]]
    [[!+fi.successMessage]]

<form class="main-form homepage-form row-fluid" action="post" method="post"  >
                <div class="span8">
                	<input type="hidden" name="nospam" value="" />
                    <input type="email" id="email" name="email"  placeholder="Email">
                </div>
                <div class="span4">
                    <input class="button submit" type="submit" value="Start Your Dream!" />
                </div>
            </form>