<li>
    <img src="[[+thumbnail]]" alt="">
    <div class="line">
        <h2>[[+pagetitle]]</h2>
    </div>
    <p>[[+description]]</p>
    <a href="[[+link]]" class="button">[[+introtext]]</a>
</li>