<h4>Request Information</h4>
                <hr>
<form class="main-form row-fluid" action="[[~[[*id]]]]" method="post"  >
                        
                    <div class="row-fluid">
                               
                            <label for="first_name">First Name<sup>*</sup></label>
                            <input type="text" value="[[!+fi.first_name]]" id="first_name" name="first_name"  placeholder="Jonathan">
                        
                            <label for="last_name">Last Name<sup>*</sup></label>
                            <input type="text" value="[[!+fi.last_name]]" id="last_name" name="last_name"  placeholder="Doe">
                              
                            <label for="email">Email Address<sup>*</sup></label>
                            <input type="text" value="[[!+fi.email]]" id="email" name="email"   placeholder="jon@doe.com">
                            <label for="phone">Phone<sup>*</sup></label>
                            <input type="text" value="[[!+fi.phone]]" id="phone" name="phone"   placeholder="999-999-9999">
                            
                            <label for="comments">Additional Comments<sup>*</sup></label>
                            <textarea value="[[!+fi.comments]]" id="comments" name="comments"></textarea>
                            <input class="cbp-mc-submit" type="submit" value="Send our way" />
                    </div>
                </form>