[[+first_name]] [[+last_name]] left you the message below from [[++site_name]]: <br />
They are inquring about the listing at: <strong>[[*pagetitle]]</strong>:
<br />
Phone Number: [[+phone]]<br />
<br />
<hr>
<strong>[[+comments]]</strong><br /><br />

You can respond to [[+first_name]] [[+last_name]] by email at <a href="mailto:[[+email]]">[[+email]]</a> or by phone at [[+phone]]